# CELLEX

In [1]:
import pandas as pd
import cellex

In [2]:
data_dir = 'data/CELLEX'
file_s = data_dir+'/Allen_Human_Lateral_geniculate/human_LGN_2018-06-14_samples-columns.csv'
file_g = data_dir+'/Allen_Human_Lateral_geniculate/human_LGN_2018-06-14_genes-rows.csv'
file_e = data_dir+'/Allen_Human_Lateral_geniculate/human_LGN_2018-06-14_exon-matrix.csv'
file_i = data_dir+'/Allen_Human_Lateral_geniculate/human_LGN_2018-06-14_intron-matrix.csv'

In [3]:
%%time
samples = pd.read_csv(file_s)
genes = pd.read_csv(file_g)
exon = pd.read_csv(file_e)
intron = pd.read_csv(file_i)

exon.drop('Unnamed: 0',axis=1, inplace=True)
intron.drop('Unnamed: 0',axis=1, inplace=True)

CPU times: user 13.1 s, sys: 8.39 s, total: 21.5 s
Wall time: 47.3 s

In [4]:
display(genes)

,gene,chromosome,entrez_id,gene_name,mouse_homologenes
0,3.8-1.2,6,353007,HLA complex group 26 (non-protein coding) pseu...,NaN
1,3.8-1.3,6,353008,HLA complex group 26 (non-protein coding) pseu...,NaN
2,3.8-1.4,6,353009,HLA complex group 26 (non-protein coding) pseu...,NaN
3,3.8-1.5,6,353010,HLA complex group 26 (non-protein coding) pseu...,NaN
4,5-HT3C2,3,389180,"5-hydroxytryptamine (serotonin) receptor 3, fa...",NaN
...,...,...,...,...,...
50276,ZYX,7,7791,zyxin,Zyx
50277,ZZEF1,17,23140,"zinc finger, ZZ-type with EF-hand domain 1",Zzef1
50278,ZZZ3,1,26009,"zinc finger, ZZ-type containing 3",Zzz3
50279,bA255A11.4,9,259265,melanoma antigen pseudogene,NaN
50280,bA395L14.12,2,150478,small nuclear ribonucleoprotein polypeptide A'...,NaN

In [5]:
data = exon+intron
data.index = genes.gene
display(data)

,F1S4_161018_001_A01,F1S4_161018_001_B01,F1S4_161018_001_C01,F1S4_161018_001_E01,F1S4_161018_001_F01,F1S4_161018_001_G01,F1S4_161018_001_H01,F1S4_161018_002_A01,F1S4_161018_002_B01,F1S4_161018_002_C01,...,F2S4_161013_029_A01,F2S4_161013_029_C01,F2S4_161013_029_F01,F2S4_161013_030_B01,F2S4_161013_030_D01,F2S4_161013_030_E01,F2S4_161013_030_F01,F2S4_161013_030_G01,F2S4_161013_031_B01,F2S4_161013_031_E01
gene,,,,,,,,,,,,,,,,,,,,,
3.8-1.2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3.8-1.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3.8-1.4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3.8-1.5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5-HT3C2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYX,13,11,0,45,16,7,0,67,32,0,...,0,4,0,0,0,0,0,108,0,0
ZZEF1,10,121,2,184,190,95,0,38,12,238,...,0,2,3,0,311,27,0,28,0,224
ZZZ3,18,90,60,139,20,51,1,143,119,117,...,867,37,24,1,2,5,18,123,651,733
bA255A11.4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
bA395L14.12,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
metadata = samples[['sample_name','cluster']]
display(metadata)# cluster name cannot contain spaces, other CELLECT will return an error

              sample_name        cluster
0     F1S4_161018_001_A01  LGN Exc BTNL9
1     F1S4_161018_001_B01  LGN Exc BTNL9
2     F1S4_161018_001_C01  LGN Inh NTRK1
3     F1S4_161018_001_E01  LGN Exc BTNL9
4     F1S4_161018_001_F01  LGN Exc BTNL9
...                   ...            ...
1571  F2S4_161013_030_E01  LGN Inh CTXN3
1572  F2S4_161013_030_F01  LGN Inh CTXN3
1573  F2S4_161013_030_G01  LGN Exc BTNL9
1574  F2S4_161013_031_B01      Oligo MAG
1575  F2S4_161013_031_E01      Oligo MAG

[1576 rows x 2 columns]

In [7]:
metadata['cluster'].replace(' ', '_', regex=True, inplace=True)
metadata.set_index('sample_name', inplace=True)
display(metadata)

                           cluster
sample_name
F1S4_161018_001_A01  LGN_Exc_BTNL9
F1S4_161018_001_B01  LGN_Exc_BTNL9
F1S4_161018_001_C01  LGN_Inh_NTRK1
F1S4_161018_001_E01  LGN_Exc_BTNL9
F1S4_161018_001_F01  LGN_Exc_BTNL9
...                            ...
F2S4_161013_030_E01  LGN_Inh_CTXN3
F2S4_161013_030_F01  LGN_Inh_CTXN3
F2S4_161013_030_G01  LGN_Exc_BTNL9
F2S4_161013_031_B01      Oligo_MAG
F2S4_161013_031_E01      Oligo_MAG

[1576 rows x 1 columns]

In [8]:
metadata.cluster.unique() # contains the cluster no_class

array(['LGN_Exc_BTNL9', 'LGN_Inh_NTRK1', 'Oligo_MAG', 'no_class',
       'LGN_Exc_PRKCG_BCHE', 'LGN_Inh_CTXN3', 'LGN_Exc_PRKCG_GRB14',
       'LGN_Inh_LAMP5', 'Astro_LGR6', 'LGN_Inh_TRPC4', 'Micro_C1QB',
       'OPC_PDGFRA', 'Astro_CPAMD8'], dtype=object)

In [9]:
nan_cells = metadata[metadata['cluster']=='no_class'].index
len(nan_cells)

23

In [10]:
data_dropped = data.drop(nan_cells, axis=1)
print(data.shape, data_dropped.shape)

(50281, 1576) (50281, 1553)

In [11]:
metadata_dropped = metadata[metadata['cluster']!='no_class']
print(metadata.shape, metadata_dropped.shape)

(1576, 1) (1553, 1)

In [12]:
%%time
eso = cellex.ESObject(data=data_dropped,
                      annotation=metadata_dropped,
                      verbose=True)

Preprocessing - checking input ... input parsed in 0 min 0 sec
Preprocessing - running remove_non_expressed ... excluded 5345 / 50281 genes in 0 min 23 sec
Preprocessing - normalizing data ... data normalized in 0 min 3 sec
Preprocessing - running ANOVA ... excluded 28416 / 44936 genes in 0 min 10 sec
CPU times: user 12.3 s, sys: 14.3 s, total: 26.6 s
Wall time: 51.6 s

In [13]:
%%time
eso.compute(verbose=True)

Computing DET ...
    esw ...
    empirical p-values ...
    esw_s ...
    finished in 0 min 9 sec
Computing EP ...
    esw ...
    empirical p-values ...
    esw_s ...
    finished in 0 min 0 sec
Computing GES ...
    esw ...
    empirical p-values ...
    esw_s ...
    finished in 0 min 0 sec
Computing NSI ...
    esw ...
    empirical p-values ...
    esw_s ...
    finished in 0 min 0 sec
Computing ESmu ...
    finished in 0 min 0 sec
Computing ESsd ...
    finished in 0 min 0 sec
Computed ['det.esw', 'det.esw_null', 'det.pvals', 'det.esw_s', 'ep.esw', 'ep.esw_null', 'ep.pvals', 'ep.esw_s', 'ges.esw', 'ges.esw_null', 'ges.pvals', 'ges.esw_s', 'nsi.esw', 'nsi.esw_null', 'nsi.pvals', 'nsi.esw_s', 'esmu', 'essd'].
CPU times: user 1.43 s, sys: 4.09 s, total: 5.52 s
Wall time: 10.2 s

In [14]:
eso.results['esmu']

,Astro_CPAMD8,Astro_LGR6,LGN_Exc_BTNL9,LGN_Exc_PRKCG_BCHE,LGN_Exc_PRKCG_GRB14,LGN_Inh_CTXN3,LGN_Inh_LAMP5,LGN_Inh_NTRK1,LGN_Inh_TRPC4,Micro_C1QB,OPC_PDGFRA,Oligo_MAG
gene,,,,,,,,,,,,
3.8-1.3,0.000000,0.000000,0.000000,0.0,0.951965,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3.8-1.4,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.193829,0.925445,0.000000,0.000000,0.000000
A1BG,0.000000,0.000000,0.000000,0.0,0.178244,0.000000,0.445792,0.000000,0.000000,0.000000,0.000000,0.694908
A2M,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.463363,0.000000,0.000000
A2ML1,0.242682,0.108649,0.000000,0.0,0.000000,0.000000,0.000000,0.059693,0.060238,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
ZXDC,0.075544,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.068487,0.000000,0.137805
ZYG11B,0.000000,0.000000,0.063586,0.0,0.000000,0.122692,0.106932,0.153672,0.108997,0.000000,0.000000,0.000000
ZYX,0.000000,0.000000,0.149331,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ZZEF1,0.000000,0.034166,0.044543,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ZZZ3,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.062953,0.119686

In [16]:
cellex.utils.mapping.human_symbol_to_human_ens(eso.results['esmu'], drop_unmapped=True, verbose=True)

Mapping: human gene symbols --> human ensembl gene id's ...
24.40 pct of genes are unmapped ...
Removed 4031 unmapped genes ...

In [17]:
eso.results['esmu']

,Astro_CPAMD8,Astro_LGR6,LGN_Exc_BTNL9,LGN_Exc_PRKCG_BCHE,LGN_Exc_PRKCG_GRB14,LGN_Inh_CTXN3,LGN_Inh_LAMP5,LGN_Inh_NTRK1,LGN_Inh_TRPC4,Micro_C1QB,OPC_PDGFRA,Oligo_MAG
gene,,,,,,,,,,,,
ENSG00000121410,0.000000,0.000000,0.000000,0.000000,0.178244,0.000000,0.445792,0.000000,0.000000,0.000000,0.000000,0.694908
ENSG00000175899,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.463363,0.000000,0.000000
ENSG00000166535,0.242682,0.108649,0.000000,0.000000,0.000000,0.000000,0.000000,0.059693,0.060238,0.000000,0.000000,0.000000
ENSG00000128274,0.641329,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ENSG00000094914,0.000000,0.028909,0.000000,0.010904,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.086598
...,...,...,...,...,...,...,...,...,...,...,...,...
ENSG00000070476,0.075544,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.068487,0.000000,0.137805
ENSG00000162378,0.000000,0.000000,0.063586,0.000000,0.000000,0.122692,0.106932,0.153672,0.108997,0.000000,0.000000,0.000000
ENSG00000159840,0.000000,0.000000,0.149331,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ENSG00000074755,0.000000,0.034166,0.044543,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ENSG00000036549,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.062953,0.119686

In [18]:
eso.results["esmu"].to_csv("Allen_human_LGN.esmu.csv.gz")